{% load staticfiles %}
<html>
    <head>
        <title> NMAM Ltd. </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/mainsite.css' %}">
        <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    </head>
    <body>
        <h1>NMAM</h1>
        <h5>Solid and Professional</h5>
        <nav>
            <ul>
              <li><a href="url">Email</a></li>
              <li><a href="PSmain.html">Publishing Company</a></li>
              <li><a href="dcmain.html">Data Consultancy Company</a></li>
              <li><a href="base.html">Home</a></li>
            </ul>
        </nav>
        <section>
            <img src="https://www.britishcouncil.org/sites/default/files/styles/bc-landscape-630x354/public/global-connections.png?itok=eMD-BeLF" height="385" width="958">
        </section>
        <footer>
            Copyright © NMAM Ltd. All rights reserved.
        </footer>
    </body>
</html>
