{% load staticfiles %}
<html>
    <head>
        <title> NMAM Ltd. </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/DC.css' %}">
        <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    </head>
    <body>
      <h1>NMAM</h1>
      <h5>Solid and Professional</h5>
      <nav>
          <ul class='nav_item'>
            <li class='nav_item'><a href="url">Contact</a></li>
            <li class='nav_item'><a href="big_data.html">Big Data</a></li>
            <li class='nav_item'><a href="Data_Architecture.html">Enterprise Data Architecture</a></li>
            <li class='nav_item'><a href="BI_MI.html">BI/MI Infrastructure</a></li>
            <li class='nav_item'><a href="Master_Data.html">Master Data Management</a></li>
            <li class='nav_item'><a href="Data_Q.html">Data Quality</a></li>
            <li class='nav_item'><a href="url">Home</a></li>
          </ul>
      </nav>
          <section>
            <h2>BI/MI Infrastructure</h2>
            <p>Whether you need to enhance your existing BI system, or create an analytics roadmap to set your
               strategy, our experienced team can take you to where you want to go.</p>
            <p>More than just technology specialists - we're your trusted advisors, helping you leverage new technology,
               to creat brilliant analytics solutions.</p>
            <p> Click <a href="url">here</a> to email and arrange a call back or a personal visit to discuss your requirements.</p>
          </section>
          <footer>
                 Copyright © NMAM Ltd. All rights reserved.
          </footer>
    </body>
</html>
