{% load staticfiles %}
<html>
    <head>
        <title> NMAM Ltd. </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/DC.css' %}">
        <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    </head>
    <body>
      <h1>NMAM</h1>
      <h5>Solid and Professional</h5>
      <nav>
          <ul class='nav_item'>
            <li class='nav_item'><a href="url">Contact</a></li>
            <li class='nav_item'><a href="big_data.html">Big Data</a></li>
            <li class='nav_item'><a href="Data_Architecture.html">Enterprise Data Architecture</a></li>
            <li class='nav_item'><a href="BI_MI.html">BI/MI Infrastructure</a></li>
            <li class='nav_item'><a href="Master_Data.html">Master Data Management</a></li>
            <li class='nav_item'><a href="Data_Q.html">Data Quality</a></li>
            <li class='nav_item'><a href="url">Home</a></li>
          </ul>
      </nav>
          <section>
            <h2> Big Data </h2>
            <p> The information age gives businesses of all kinds access to Big Data that's growing
                in volume, variety, velocity and complexity. With more data coming from more sources
                faster than ever, the question is: </p>
            <ul>
              <li> What is your Big Data strategy?</li>
              <li> How are you combing new and existing data sources to make better decisions about your business?</li>
              <li> How could new data sources including social, sensors, location and video help improve your business performance?</li>
              <li> Will your Big Data remain dormant or will you make it work for you?</li>
            </ul>
            <br>
            <p> Click <a href="url">here</a> to email and arrange a call back or personal visit to discuss you requirements.</p>
          </section>
          <footer>
              Copyright © NMAM Ltd. All rights reserved.
          </footer>
   </body>
</html>
