{% load staticfiles %}
<html>
    <head>
        <title> NMAM Ltd. </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/DC.css' %}">
        <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    </head>
    <body>
      <h1>NMAM</h1>
      <h5>Solid and Professional</h5>
      <nav>
          <ul>
            <li><a href="url">Contact</a></li>
            <li><a href="big_data.html">Big Data</a></li>
            <li><a href="Data_Architecture.html">Enterprise Data Architecture</a></li>
            <li><a href="url">BI/MI Infrastructure</a></li>
            <li><a href="url">Master Data Management</a></li>
            <li><a href="url">Data Quality</a></li>
            <li><a href="url">Home</a></li>
          </ul>
      </nav>
          <section>
            <h2>Project Management</h2>
            <p>Do you have an ambitious project - or even a portfolio of projects - you have to successfully bring in on time and budget? </p>
            <p>Our project management consultants can help you get things done in a timely and targeted fashion, by ensuring strong leadership, organisation and planning. We help you deliver your vision, while reducing risk, cutting costs and improving success rates.</p>
            <p>The way we work is underpinned by Agile principles, incorporating best practice in planning and governance. This ensures that benefits are realised early on, so that teams can measure the project's success and that together we can produce a product that is fit for purpose.</p>
          </section>
          <footer>
                 Copyright © NMAM Ltd. All rights reserved.
          </footer>
    </body>
</html>
