
body{
  background-image: url(grey_background.png);
  background-repeat:repeat;
}

h1 {
  color: #E6E6E6;
  padding-left: 205px;
  padding-top: 30px;
  font-size: 500%;
}

h5 {
  color: #848484;
  padding-left: 205px;
  font-size: 150%;
}

ul.nav_item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    float; right;
    padding-right: 25px;
}


li.nav_item {
    float: right;
    display: inline;
}

li.nav_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav_item a:hover {
    background-color: #000000;
    color: white;
}

nav{
  width: 960px;
  margin: 0 auto;
}

section{
  height: 385px;
  width: 958px;
  background-color: #D8D8D8;
  position: relative;
  left: 204px;
  border: 3px solid #D8D8D8;
  margin-top: 5px;
}

img {
    opacity: 0.8;
    filter: alpha(opacity=40);
}

footer {
  height: 30px;
  width: 70.3%;
  background-color: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  padding-top: 5px;
  position: fixed;
  margin-top: 10px;
}

ul.b {list-style-type: square;}
